# Build Directories
_ngo/
_xmsgs/
iseconfig/
isim/
ipcore_dir/
xst/
xlnx_auto_0_xdb/

# Proj Generated Build Files
*.bgn
*.bit
*.bld
*.cmd_log
*.cpj
*.drc
*.gise
*.ipf
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.xpi
*.xrpt
*.xst
*.xwbt
*.vho
*.exe
*.ini

# Logs
*.log
*.html
*.xml
*.csv
*.pdf
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
webtalk_pn.xml
xilinxsim.ini
pepExtractor.prj
*_pad.txt